<div class="container">
    <div class="main">
        <mat-card>
            <div class="text">
                Employee Payroll form
            </div>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                <div class="name">
                    Name
                    <input type="text" class="name1" formControlName="name">
                </div>

                <div class="profile">
                    Profile image
                    <mat-radio-group aria-label="Select an option" style="margin-left: 40px;">
                        <mat-radio-button value="1"></mat-radio-button>
                        <mat-radio-button value="2"></mat-radio-button>
                        <mat-radio-button value="3"></mat-radio-button>
                        <mat-radio-button value="4"></mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="gender">
                    Gender
                    <mat-radio-group aria-label="Select an option" formControlName="gender">
                        <mat-radio-button value="Male" style="margin-left:90px;">Male</mat-radio-button>
                        <mat-radio-button value="Female" style="margin-left:50px;">Female</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="dept">
                    Department
                    <input type="checkbox" style="margin-left: 50px;" formControlName="dept">HR
                    <input type="checkbox" style="margin-left: 50px;" formControlName="dept">Sales
                    <input type="checkbox" style="margin-left: 50px;" formControlName="dept">Finance
                    <input type="checkbox" style="margin-left: 50px;" formControlName="dept">Engineer
                    <input type="checkbox" style="margin-left: 50px;" formControlName="dept">Others
                </div>

                <div class="salary">
                    Salary
                    <select class="sal" formControlName="salary" style="margin-left: 98px;">
                        <option value="Select">Select Salary</option>
                        <option value="10000">10000</option>
                        <option value="25000">25000</option>
                        <option value="50000">50000</option>
                        <option value="75000">75000</option>
                        <option value="100000">100000</option>
                    </select>
                </div>

                <div class="date">
                    <div>
                        Date
                        <select class="dates" formControlName="date"
                            style="margin-left: 110px;width: 100px;height: 50px;font-size:large">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>

                        <select class="dates" formControlName="month"
                            style="margin-left: 10px;width: 120px;height: 50px;font-size:large">
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                        </select>

                        <select class="dates" formControlName="year"
                            style="margin-left: 10px;width: 100px;height: 50px;font-size:large">
                            <option value="2011">2011</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                        </select>
                    </div>
                </div>

                <div class="note">
                    <p>Notes</p>
                    <textarea class="area"></textarea>
                </div>
                
                <!-- <div style="margin-top: 50px;">
                    <button class="cancel" mat-button>Cancel</button>
                </div> -->

                <div style="margin-top: 15px;">
                    <button class="submit" mat-button (click)="postEmp()">Submit</button>
                </div>

                <div style="margin-top: -43px;">
                    <button class="reset" mat-button (click)="onReset()">Reset</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>